@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;0,900;1,500;1,700&family=Roboto:wght@500&display=swap');
body{
    background-color: #f0f0f0;
}
:root{
    --font: 'Poppins', sans-serif;
    --font_2: 'Roboto', sans-serif; 
}
.all-nav{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    width: 200px;
}
.nav-item a{
    color: black;
    font-family: var(--font);
}
.nav-item a{
    margin: 0 20px;
}

.all-hero{
    background-color: #1F01FF;
    padding: 6% 0;
}
.hero-text h1{
    /* display: block; */
    color: white;
    line-height: 3.5rem;
    font-family: var(--font_2);
}
.hero-text p{
    color: white;
    font-family: var(--font);
    width: 80%;
    line-height: 2rem;
}
.all-hero div img{
    border-radius: 20px;
}
.all-hero button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #ED972F;
    color: white;
    font-family: var(--font);

}
/* apply */
.all-apply{
    margin: 5% 0;
}
.all-apply .container{
    background-color: #e4b17354;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 15px #e4b17354;
}
.all-apply div h2{
    font-size: 30px;
    font-family: var(--font);
    /* font-weight: bold; */
    line-height: 3rem;
    font-weight: 550;
}
.all-apply div p{
    font-size: 17px;
    font-family: var(--font);
}
.all-apply div h4 span{
    display: block;
    font-size: 20px;
    font-family: var(--font);
    line-height: 2rem;
}
.all-apply div h4 span:first-child{
    font-weight: 400;
    font-size: 16px;
}
.apply-center{
    border-left: 1px solid #555;
}
.apply-center button{
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #1F01FF;
    color: white;
    font-family: var(--font);
    border-radius: 5px;
}


/* about */
.all-about div h4{
    margin: 5% 0;
    font-family: var(--font);
    font-size: 35px;
}
.all-about div h4 span{
    color: #ED972F;
}

/* data analysis */
.data-analysis {
    margin: 5% 0;
    padding: 30px;
}
.data-analysis div h6 span{
    display: block;
    line-height: 1.8rem;
    font-family: var(--font);
}
.data-analysis div h6 span:nth-child(3){
    color: #ED972F;
}
.data-analysis div h6 span:nth-child(1){
    color: #1F01FF;
    font-size: 30px;
}
.data-analysis div h6 span strong{
    color: #ED972F;
}
ul li{
    list-style-type: none;
    line-height: 2rem;
}
ul li i{
    color: #1F01FF;
    margin-right: 10px;
}
.fee button{
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #1F01FF;
    color: white;
    font-family: var(--font);
    border-radius: 5px;
    margin-bottom: 30px;
}
.fee h4{
    font-size: 20px;
    font-family: var(--font);
}


/* testimonials */
.testimonial-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.test-1{
    flex-basis: 48%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}
.test-1 p{
    font-family: var(--font);
    line-height: 1.8rem;
    font-size: 13px;
}
.person img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.person{
    display: flex;
    align-items: center;
}
.person p span{
    display: block;
}
.person p{
    margin-left: 10px;
}
.all-testimonials{
    margin: 5% 0;
}
.all-testimonials h5{
    color: #ED972F;
    font-family: var(--font);
    letter-spacing: 2px;
}
.all-testimonials h4{
    font-size: 30px;
    font-family: var(--font);
    margin-bottom: 20px;
}
.mobile{
    display: none;
}
.apply-hero{
    background: linear-gradient(rgba(6, 69, 241, 0.9), rgba(33, 78, 226, 0.6)), url(../img/hero-2.webp) center/cover no-repeat fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apply-hero h3{
    color: white;
    font-size: 30px;
    font-family: var(--font);
    font-weight: bold;
}
.hero-content div a{
    text-decoration: none;
}
.hero-content div a:first-child{
    color: #ED972F;
    font-family: var(--font);
    font-size: 24px;
}
.hero-content div a:last-child{
    color: #fff;
    font-family: var(--font);
    font-size: 24px;
}
.all-payment{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../img/data.webp) center/cover no-repeat fixed;
    padding: 8% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-content{
    background-color: white;
    border-radius: 5px;
    width: 35%;
    padding: 20px;
}
html{
    scroll-behavior: smooth;
}
.pay_amount h4 span{
    display: block;
    line-height: 1.6rem;
    font-family: var(--font);
}
.pay_amount h4 span:nth-child(1){
    font-size: 10px;
    /* border-bottom: 1px solid #ccc; */
}
.pay_amount h4 span:nth-child(2){
    font-size: 30px;
}
.pay_amount h4 span:nth-child(3){
    font-size: 10px;
}
.pay-logo div h4{
    font-size: 17px;
    line-height: 2rem;
    font-family: var(--font);
}
.pay-logo div img{
    width: 200px;
}
.all-payment button{
    width: 100%;
    border: none;
    padding: 10px 0;
    color: white;
    font-family: var(--font);
    background-color: #1F01FF;
}
@media(max-width: 600px){
    .hero-text h1{
        line-height: 2.5rem;
        font-size: 30px;
        /* text-align: center; */
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .hero-text p{
        width: 100%;
        margin: 40px 0;
    }
    .all-hero button{
        width: 100%;
        margin-bottom: 50px;
    }
    .all-hero{
        /* height: 140vh; */
    }
    .hero-text h1 span{
        display: inline-block;
    }
    .hero-text{
        margin-top: 100px;
    }
    .data-analysis {
        margin: 5% 0;
        padding: 10px 0;
    }
    .data-analysis ul li{
        font-size: 14px;
        font-family: var(--font);
    }
    .data-analysis div h6{
        margin-top: 30px;
    }
    
    .test-1{
        flex-basis: 100%;
        margin-bottom: 30px;
        height: fit-content;
        margin: 0 10px;
        width: 100%;
    }
    .apply-hero h3{
        text-align: center;
    }
    .payment-content{
        background-color: white;
        border-radius: 5px;
        width: 95%;
        padding: 20px;
    }
    .pay-logo{
        text-align: center;
    }
}